body {
  text-align: center;
  background-color: #6ad88b;
}

img {
  width: 90%;
  margin-top: 10px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  1%;
  color: #18160c;
}

.container {
  display: block;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #965040;
  opacity: 0.8;
}

.pig {
  background-color:#d8806c;
}

.cow {
  background-color: #d8ac9c;
}

.sheep {
  background-color: #c1a2aa;
}

.chicken {
  background-color: #fad586;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
  